# Azure credentials
export ARM_CLIENT_ID=""
export ARM_CLIENT_SECRET=""
export ARM_SUBSCRIPTION_ID=""
export ARM_TENANT_ID=""

# Where to find the terraform state
export TFSTATE_STORAGE_ACCOUNT_NAME=""
export TFSTATE_KEY=""

# Optional key to fetch packages from github, only necessary if the cluster doesn't already have the package.
export github_read_packages_key=""
